@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "EB Garamond", serif;
}

a {
  text-decoration: none;
  font-family: "EB Garamond", serif;
}

p {
  font-family: "EB Garamond", serif;
}
/* бургер меню */
.hamburger-menu{
  display: none;
}
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* еще код */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1e2;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
/* еще код */
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
/* еще код */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
/* еще код */

/* конец  бургер меню */
header {
  max-width: 2000px;
  margin: auto;
  background: url(https://abrakadabra.fun/uploads/posts/2022-02/thumbs/1643665489_36-abrakadabra-fun-p-bezhevii-fon-dlya-saita-45.jpg) center/cover;
}

.header-conteiner {
  max-width: 1400px;
  height: 600px;
  margin: auto;
}
.header-conteiner a {
  color: #ffffff;
}
.header-conteiner p {
  color: #ffffff;
}
.header-conteiner h1, .header-conteiner h2, .header-conteiner h3, .header-conteiner h4, .header-conteiner h5, .header-conteiner h6 {
  color: #ffffff;
}
.header-conteiner .nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.header-conteiner .nav-bar .nav-bar-left span {
  font-size: 25px;
}
.header-conteiner .nav-bar .nav-bar-right a:hover {
  border-bottom: 3px solid #ffffff;
  transition: 0.1s;
}
.header-conteiner .nav-bar .nav-bar-right a {
  font-size: 20px;
}
.header-conteiner .nav-bar .nav-bar-right a + a {
  margin-left: 35px;
}
.header-conteiner .header-bottom {
  max-width: 1400px;
  height: 520px;
  display: flex;
  justify-content: space-between;
}
.header-conteiner .header-bottom .header-bottom-left {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-conteiner .header-bottom .header-bottom-left .header-bottom-left-first {
  height: 250px;
  display: flex;
  align-items: center;
}
.header-conteiner .header-bottom .header-bottom-left .header-bottom-left-first h2 {
  font-size: 60px;
  font-weight: 300;
}
.header-conteiner .header-bottom .header-bottom-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second p {
  font-size: 25px;
}
.header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second a {
  padding: 15px 45px;
  border: 2px solid rgb(117, 113, 113);
  font-size: 20px;
  color: rgb(117, 113, 113);
}
.header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second a:hover {
  transition: 0.9s;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  .hamburger-menu{
    display: block;
  }
  .header-conteiner {
    height: 580px;
    max-width: 800px;
  }
  .header-conteiner .nav-bar-right {
    display: none;
  }
  .header-conteiner .header-bottom {
    height: 90%;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
  }
  .header-conteiner .header-bottom .header-bottom-left {
    width: 400px;
    text-align: center;
  }
  .header-conteiner .header-bottom .header-bottom-right {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .header-conteiner {
    height: 600px;
  }
}
@media screen and (max-width: 450px) {
  .header-conteiner {
    height: 100%;
  }
  .header-conteiner .nav-bar .nav-bar-left h2 {
    font-size: 30px;
  }
  .header-conteiner .nav-bar .nav-bar-left h3 {
    font-size: 15px;
  }
  .header-conteiner .header-bottom {
    height: 400px;
  }
  .header-conteiner .header-bottom .header-bottom-left {
    width: 250px;
    height: 200px;
  }
  .header-conteiner .header-bottom .header-bottom-left .header-bottom-left-first {
    height: 100%;
    width: 100%;
  }
  .header-conteiner .header-bottom .header-bottom-left .header-bottom-left-first h2 {
    font-size: 45px;
  }
  .header-conteiner .header-bottom .header-bottom-right {
    height: 200px;
    width: 300px;
  }
  .header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second {
    height: 100%;
    width: 100%;
  }
  .header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second p {
    font-size: 20px;
  }
  .header-conteiner .header-bottom .header-bottom-right .header-bottom-right-second a {
    font-size: 15px;
  }
}











/* начало мейна  */
.main {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}
.main .main-conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}
.main .main-conteiner .main-conteiner1 {
  width: 20%;
  margin: 50px 60px;
  display: flex;
  justify-content: center;
}
.main .main-conteiner .main-conteiner1 .column1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}
.main .main-conteiner .main-conteiner1 .column1 h2 {
  line-height: normal;
  font-size: 46px;
  color: #a65b4c;
  font-family: "EB Garamond";
}
.main .main-conteiner .main-conteiner1 .column1-1 {
  line-height: 1.4em;
  font-size: 16px;
}
.main .main-conteiner .main-conteiner1 .flex-column {
  display: flex;
  gap: 40px;
}

.href__btn {
  border: 1px solid black;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.href__btn a {
  color: black;
  font-family: "EB Garamond", serif;
  transition: 0.5s;
}

.href__btn a:hover {
  transition: 0.5s;
  color: #9d5547;
}

.column2 {
  display: flex;
  width: 50%;
  height: 100%;
  margin-top: 40px;
  justify-content: end;
  
}
.column2 .column2-2 {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  gap: 15px;
  justify-content: flex-start;
  

}
.column2 .column2-2 a {
  color: black;
  transition: 0.3s;
  font-size: "EB Garamond", serif;
}

.column2-2 a:hover {
  transition: 0.3s;
  color: #a65b4c;
}

.main2 {
  background-color: #aeb5ad;
  max-width: 1350px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.main2 .main__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 105px;
}
.main2 .text1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 20%;
}
.main2 .text1 .text1 p {
  line-height: 1.6em;
  font-size: 16px;
}

.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 20%;
}

.text3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 20%;
}

.section1 {
  width: 100%;
  height: 100px;
}

.section1 .insights {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: #a65b4c;
  margin-top: 50px;
}

.section2 {
  height: 100%;
  max-width: 1400px;
  margin-bottom: 100px;
}
.section2 .section__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 20px;
  font-family: "EB Garamond", serif;
}
.section2 .section__inner .color1 {
  color: #a65b4c;
}
.section2 .section__inner .block1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section2 .section__inner .block1 h2 {
  font-size: 40px;
}
.section2 .section__inner .block1 h2 .section__inner p {
  font-size: 20px;
}

.block2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block2 .h2 {
  font-size: 30px;
}
.block2 .h2 .p1 {
  font-size: 18px;
}

.block3 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block3 .hh2 {
  font-size: 30px;
}
.block3 .hh2 .p2 {
  font-size: 18px;
}

.block4 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block4 .hhh2 {
  font-size: 30px;
}
.block4 .hhh2 .p3 {
  font-size: 18px;
}

.block5 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block5 .hhhh2 {
  font-size: 30px;
}
.block5 .hhhh2 .p4 {
  font-size: 18px;
}

/* медиа */
@media all and (max-width: 650px) {
  .div__column {
    font-size: 35px;
    text-align: 1px;
    width: 100%;
    
  }
  .column2{
    margin-top: 0;
  }
  .column1{
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-conteiner {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .flex-columns{
    width: 300px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .main-conteiner .main-conteiner1 .flex-columns .column1 .column1-1 .href__btn .href__btn a {
    height: 500px;
  }
  .main-conteiner .column2 {
    margin-top: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  .main-conteiner .column2 .column2-2 {
    width: 100%;
    text-align: center;
  }
  .main2 {
    width: 100%;
    height: 100%;
  }
  .main2 .main__inner {
    width: 100%;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .main2 .main__inner .text1 {
    width: 90%;
    text-align: center;
  }
  .main2 .main__inner .text2 {
    width: 90%;
  }
  .main2 .main__inner .text3 {
    width: 90%;
  }
  .section2 {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .section2 .section__inner {
    align-items: center;
    font-size: 30px;
    width: 90%;
    font-family: "EB Garamond", serif;
  }
  .section2 .section__inner .block1 {
    width: 100%;
  }
  .section2 .section__inner .block1 .half h2 {
    font-size: 45px;
  }
  .section2 .section__inner .block1 .color1 {
    color: #a65b4c;
  }
  .section2 .section__inner .block1 .p5 {
    font-size: 25px;
  }
  .section2 .section__inner .block2 {
    width: 100%;
  }
  .section2 .section__inner .block2 .color1 {
    color: #a65b4c;
  }
  .section2 .section__inner .block2 .p1 {
    font-size: 25px;
  }
  .section2 .section__inner .block3 .color1 {
    color: #a65b4c;
  }
  .section2 .section__inner .block3 .p2 {
    font-size: 25px;
  }
  .section2 .section__inner .block4 .color1 {
    color: #a65b4c;
  }
  .section2 .section__inner .block4 .p3 {
    font-size: 25px;
  }
  .section2 .section__inner .block5 .color1 {
    color: #a65b4c;
  }
  .section2 .section__inner .block5 .p4 {
    font-size: 25px;
  }
  .section2 .section__inner h2 {
    font-size: 45px;
  }
}

@media all and (max-width: 400px){

  .href__btn{
    width: 200px;
    margin: 0px 30px;
    
  }
  .column2-2{
    margin-bottom:0px;
  }
  .insights{
    height: 1px;
    margin-bottom: 0px;
    
  }
  .section1{
    height: 50px;
    margin-bottom: 40px;
  }
  .section2{
    text-align: center;
  }
  .block5{
    margin-bottom: 35px;
  }
  .main2 .main__inner{
    padding-top: 55px;
  }
  .main__inner{
    text-align: center;
    padding-top: 1px;
    height: 100%;
    position: relative;
    
  }
  
  .main2{
    padding-bottom: 35px;
    
  }
  .text1 {
    margin: 0px;
    height: 600px;
    
    
  }
  
}


/* конец мейна  */

footer {
  background-color: #222a29;
}

.footer-conteiner {
  margin: auto;
  max-width: 1330px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.footer-conteiner .footer-conteiner-left {
  padding: 0px 15px;
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-conteiner .footer-conteiner-left .footer-conteiner-left-first {
  width: 100%;
  height: 200px;
}
.footer-conteiner .footer-conteiner-left .footer-conteiner-left-first h2 {
  font-size: 55px;
  color: #d7dbd6;
  font-weight: 300;
}
.footer-conteiner .footer-conteiner-left .footer-conteiner-left-second {
  width: 100%;
  height: 100px;
}
.footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h3 {
  font-size: 35px;
  color: #d7dbd6;
  font-weight: 300;
}
.footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h4 {
  font-size: 25px;
  color: #d7dbd6;
  font-weight: 300;
}
.footer-conteiner .footer-conteiner-left .footer-conteiner-left-third {
  width: 100%;
  height: 20px;
}
.footer-conteiner .footer-conteiner-left .footer-conteiner-left-third p {
  color: #d7dbd6;
  font-weight: 300;
  font-size: 15px;
}
.footer-conteiner .footer-conteiner-right {
  width: 450px;
  height: 300px;
}
.footer-conteiner .footer-conteiner-right h4 + h4 {
  margin-top: 25px;
}
.footer-conteiner .footer-conteiner-right h4 {
  color: #d7dbd6;
  font-size: 25px;
}
.footer-conteiner .footer-conteiner-right .strong1 {
  margin-right: 40px;
}
.footer-conteiner .footer-conteiner-right .strong2 {
  margin-right: 60px;
}
.footer-conteiner .footer-conteiner-right .strong3 {
  margin-right: 90px;
}
.footer-conteiner .footer-conteiner-right a + a {
  margin-left: 50px;
}
.footer-conteiner .footer-conteiner-right i:hover {
  color: #a65b4c;
  transition: 0.5s;
}
.footer-conteiner .footer-conteiner-right i {
  color: #d7dbd6;
  margin-top: 60px;
  font-size: 50px;
}
.footer-conteiner .footer-conteiner-center {
  position: absolute;
  right: 50px;
  width: 75px;
  height: 75px;
  display: flex;
  text-align: center;
  justify-content: center;
  border: #d7dbd6 3px solid;
  border-radius: 50%;
  bottom: 50px;
}
.footer-conteiner .footer-conteiner-center:hover {
  border: #a65b4c 3px solid;
  transition: 0.5s;
}
.footer-conteiner .footer-conteiner-center .footer-conteiner-arrow-up i {
  margin-top: 8px;
  font-size: 55px;
  color: #d7dbd6;
}
.footer-conteiner .footer-conteiner-center .footer-conteiner-arrow-up i:hover {
  color: #a65b4c;
}
.footer-conteiner .footer-conteiner-center .footer-conteiner-arrow-up a:hover {
  color: #a65b4c;
}

@media screen and (max-width: 900px) {
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-first h2 {
    font-size: 40px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h3 {
    font-size: 30px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h4 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right .strong1 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right .strong2 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right .strong3 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right a + a {
    margin: 5%;
  }
}
@media screen and (max-width: 600px) {
  .footer-conteiner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 15px;
  }
  .footer-conteiner .footer-conteiner-left {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-first {
    height: 100%;
    margin-bottom: 15px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-first h2 {
    font-size: 40px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h3 {
    font-size: 30px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h4 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-center {
    bottom: 15px;
    right: 15px;
  }
  .footer-conteiner .footer-conteiner-right {
    margin-top: 50px;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .footer-conteiner .footer-conteiner-right .strong1 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right .strong2 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right .strong3 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right div {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 300px;
  }
  .footer-conteiner .footer-conteiner-right div i {
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) {
  .footer-conteiner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 15px;
  }
  .footer-conteiner .footer-conteiner-left {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-first {
    height: 100%;
    margin-bottom: 15px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-first h2 {
    font-size: 40px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h3 {
    font-size: 30px;
  }
  .footer-conteiner .footer-conteiner-left .footer-conteiner-left-second h4 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-center {
    bottom: 15px;
    right: 15px;
  }
  .footer-conteiner .footer-conteiner-right {
    margin-top: 50px;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .footer-conteiner .footer-conteiner-right .strong1 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right .strong2 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right .strong3 {
    font-size: 20px;
  }
  .footer-conteiner .footer-conteiner-right div {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 180px;
  }
  .footer-conteiner .footer-conteiner-right div .fa-whatsapp {
    margin-left: 5px;
  }
  .footer-conteiner .footer-conteiner-right div i {
    font-size: 30px;
    margin-top: 15px;
  }
}/*# sourceMappingURL=scss.css.map */