header{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    

}
.header-conteiner{
    max-width: 1400px;
    height: 600px;
    border: 1px solid black;
    
}


























footer{
    margin: auto;
    border: 1 px solid black;
}
/* #c0a18c */